[user]
	name = Matt Juhl
	email = matt@juhl.me
[core]
	excludesfile = ~/.gitignore_global
	editor = /opt/homebrew/bin/nvim
	ignorecase = false
	pager = delta
	autocrlf = false
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
		side-by-side = true # use split diff view
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[color]
	ui = true
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true

